@media (width > 750px) {
  body {
    width: 50%;
    min-width: 750px;
    margin: auto;
  }
}

body {
  font-family: Georgia
}

h1, h2 {
  border-bottom: solid #80808080 1px;
}

h2 {
  margin-block-start: 2em;
}

h1, h2, h3 {
  font-variant: small-caps;
}

h3, h4 {
  margin-block-end: .4em;
}

h3 + h4 {
  margin-block-start: .5px;
}

h4 {
  font-weight: normal;
}

ul {
  margin-block-start: 0px
}

div.center {
  text-align: center;
}
